{% extends "layout.html" %}

{% block title %}Edit Patient Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Edit Your Profile</h2>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.gender.label(class="form-label") }}
            {{ form.gender(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.blood_group.label(class="form-label") }}
            {{ form.blood_group(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.contact_number.label(class="form-label") }}
            {{ form.contact_number(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.address.label(class="form-label") }}
            {{ form.address(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.medical_history.label(class="form-label") }}
            {{ form.medical_history(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.allergies.label(class="form-label") }}
            {{ form.allergies(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.current_medications.label(class="form-label") }}
            {{ form.current_medications(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emergency_contact.label(class="form-label") }}
            {{ form.emergency_contact(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.prescriptions.label(class="form-label") }}
            {{ form.prescriptions(class="form-control-file") }}
        </div>
        <div class="form-group">
            {{ form.medical_reports.label(class="form-label") }}
            {{ form.medical_reports(class="form-control-file") }}
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock %}